extends ../layouts/base

block seo-meta
  title 404 Error Page | Adam Gibbons

block content
  section.section
    .container
      .row
        .col-sm-12.text-center
          .h2 Oh, dear.
          p This is the error page. You should return
            a(href="/")  home
            | .
