extends ../layouts/base

block seo-meta
  title Adam Gibbons | Freelance, Full-stack Web Developer
  meta(name="description" content="Adam Gibbons is a freelance, full-tack web developer based in Boulder, Colorado.")

block seo-breadcrumbs
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "http://agibbons.com",
          "name": "Home"
        }
      }]
    }

block content
  .section.section-bright
    .container
      .row
        .col-sm-8.col-sm-offset-2
          p.intro I'm a web developer based in Boulder, Colorado. I freelance with startups, agencies, and nonprofits to design and build rich, responsive web applications and interactive user interfaces.

  .container
    .header-1 Recent Work

    .row
      .col-sm-4
        .project(data-project="onemove")
          .logo
            img.img-responsive#onemove(src="/images/work/onemove/logo.png")
          .name
            a(href="/work/onemove") OneMove (web app)
      .col-sm-4
        .project(data-project="moveline")
          .logo
            img.img-responsive#moveline(src="/images/work/moveline/logo.png")
          .name
            a(href="/work/moveline") Moveline (web app)
      .col-sm-4
        .project(data-project="ics")
          .logo
            img.img-responsive#ics(src="/images/work/ics/logo.png")
          .name
            a(href="https://github.com/adamgibbons/ics") ICS (Node.js module)
