.container-fluid
  .row
    .col-sm-6
      ul
        li: a(href="https://www.linkedin.com/in/adamdgibbons") LinkedIn
        li: a(href="https://github.com/adamgibbons") GitHub
        li: a(href="https://angel.co/adamgibbons") AngelList
        li: a(href="mailto:adam@agibbons.com") Email
    .col-sm-6
      p.palette.text-right Site palette:
        button.btn.btn-default.active(data-color="blue") Blue
        button.btn.btn-default(data-color="turquoise") Turquoise
        button.btn.btn-default(data-color="green") Green
        button.btn.btn-default(data-color="red") Red
      p.text-right &copy; 2016 Adam Gibbons

