.container-fluid
  .row
    .col-sm-6
      ul
        li: a(href="https://www.linkedin.com/in/adamdgibbons") LinkedIn
        li: a(href="https://github.com/adamgibbons") GitHub
        li: a(href="https://angel.co/adamgibbons") AngelList
        li: a(href="mailto:adam@agibbons.com") Email
    .col-sm-6
      p.text-right &copy; 2016 Adam Gibbons