.row
  .col-sm-6
    .row
      .col-xs-3
        #cartoon
          a(href="/"): img(src="/images/adam-gibbons.png")
      .col-xs-9
        .name Adam Gibbons
        .title Full-stack Web Developer

  .col-sm-6
    nav.primary-nav
        a.nav-item(href="/") Home
        a.nav-item(href="/about") About
        a.nav-item(href="mailto:adam@agibbons.com") Contact