.columns
  .column
    nav
      a(href="https://www.linkedin.com/in/adamdgibbons") LinkedIn
      a(href="https://github.com/adamgibbons") GitHub
      a(href="https://angel.co/adamgibbons") AngelList
      a(href="mailto:adam@agibbons.com") Email
  .column
    p.has-text-right &copy; 2022 Adam Gibbons