.container
  .columns
    .column.is-narrow
      div: img.adam-gibbons-cartoon(alt="Adam Gibbons cartoon" src="/images/adam-gibbons-cartoon.png")
    .column
      h1.h1 Adam Gibbons
      h2.h2 Full Stack Web Developer
    .column.is-narrow.has-text-right
        .columns
          .column
            a Home
          .column
            a About
          .column
            a Contact