extends base.pug

block content

  .container
    br
    br
    .columns
      .column
        div: img(src="/images/adam-gibbons-about.jpg")
      .column
        p I'm a full-stack web developer living in Boulder, Colorado. I work for a last-mile logistics startup, <a href="https://shipveho.com">Veho</a>, where I build all the things. I've spent most of my ten-year software career working for early-stage, venture-backed startups in household goods relocation, freight, and e-commerce. I've also freelanced with digital agencies and nonprofits.
        p My favorite projects usually involve an awesome team, esoteric business logic, web development, UI design, and systems infrastructure. I'm a Techstars alum (Boulder '19, NYC '12), and in a previous life I worked in public policy at the state and federal levels.
        p I also like to put my phone in airplane mode and enjoy Colorado in all seasons - for me, that's typically roadbiking, skiing, or huffing up Sanitas.