extends base.pug

block content

  .container
    br
    br
    .columns
      .column
        div: img(src="/images/adam-gibbons-about.jpg")
      .column
        p I'm a full-stack web developer living in Boulder, Colorado. I freelance with startups, agencies, and nonprofits to design and build rich, responsive web applications and interactive user interfaces.

        p I have 7 years of experience launching, growing, and maintaining products in the shipping/freight, household relocation, and print/web publishing industries. I'm a TechStars NYC '12 alum, and in a previous life I worked in public policy at the state and federal levels.

        p I also make sure to close my laptop, put my phone in airplane mode, and enjoy Colorado in all seasons - backpacking, roadbiking, skiing, but most often, huffing it up Mount Sanitas.