doctype(html)
html(lang="en")
  head
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-41357777-1")
    script(src="./scripts/google-analytics.js")
    meta(charset="UTF-8")
    title=title
    meta(name="description" content=description)
    link(type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css" rel="stylesheet")
    link(type="text/css" href="/styles/index.css" rel="stylesheet")

  body.adam
    .main
      .header
        include includes/header.pug
      .content
        block content
    .footer
      include includes/footer.pug

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/scripts/index.js")
    block scripts