extends base.pug

block content
  .home
    .dark-bg
      .container
        .columns
          .column.is-8.is-offset-2
            .pitch.has-text-centered I'm a web developer based in Boulder, Colorado. I freelance with startups, agencies, and nonprofits to design and build rich, responsive web applications and interactive user interfaces.

    .container.has-text-centered
      br
      h3.title.is-2 Recent Work
      .tile.is-ancestor
        .tile.is-parent
          .tile.is-child
            .project
              .logo
                img(src="/images/onemove.png")
              h4.title.is-4: a() OneMove (web app)
              //- .project-name: a(href="#") OneMove (web app)
        .tile.is-parent
          .tile.is-child
            .project
              .logo
                img(src="/images/moveline.png")
              h4.title.is-4: a() Moveline (web app)
        .tile.is-parent
          .tile.is-child
            .project
              .logo
                img(src="/images/ics.png")
              h4.title.is-4: a() ICS (Node.js package)
