include ../mixins/mixins

doctype html

html(lang="en")

  head
    meta(name="google-site-verification" content="WrvLAybH0iJfVJrDMln9IZn5uiseOu6SaK6mfts7mHw")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    block seo-meta
    block seo-breadcrumbs

    if env === 'development'
        link(href="/styles.css" rel="stylesheet")
    else 
        // inject:css
        // link(href="styles.css" rel="stylesheet")
        // endinject

    link(href="/webfonts/ss-social.css" rel="stylesheet")

  body
    include ../partials/navbar.jade

    .section-blog
        .blog-header
            .container
                block header

        .container
            block content

    include ../partials/join-network-section.jade



    #back-to-top.hidden-xs
        img(src="/images/back-to-top.png")

    if env === 'development'
        script(src="/.js")
    else
        // inject:js
        // script(src=".js")
        // endinject

    include ../partials/google-analytics.jade