extends ../../../layouts/base

block seo-meta
  title Contact Me | Adam Gibbons
  meta(name="description" content="Want to learn more? Fill out this form, call, or email Adam.")

block seo-breadcrumbs
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "http://agibbons.com/",
          "name": "Home"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "http://agibbons.com/contact/",
          "name": "Contact"
        }
      }]
    }

block content
  .container
    .row
      .col-sm-8.col-sm-offset-2
        .header-1 Moveline
        .subheader-1 The best way to move long-distance - for the 40M people who spend $30B on moving services annually.
        .tags.text-center
          span.label.label-default(style="margin-right:1em;") Web Application
          span.label.label-default Static website


    .row
      .col-sm-10.col-sm-offset-1

        //- p: a(href="https://angel.co/moveline") AngelList

        p Moveline lets people take a video of their stuff and get guaranteed quotes from top moving companies. Moveline make it easy for couples, families, employees and people preparing for a move to quickly gather the information they need to save money, prevent headaches and make smarter moving decisions.

        p We developed static sites for lead generation, and a web application for customers to plan and book their moves.

        .img-wrapper: img.img-responsive(src="/images/work/moveline/moveline-1.png")
        .img-wrapper: img.img-responsive(src="/images/work/moveline/moveline-2.png")
        .img-wrapper: img.img-responsive(src="/images/work/moveline/moveline-3.png")
        .img-wrapper: img.img-responsive(src="/images/work/moveline/moveline-4.png")
        .img-wrapper: img.img-responsive(src="/images/work/moveline/moveline-5.png")